<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="#">
      <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fgbvwys5qhj31kw14nx6q.jpg" alt="First slide">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="#">
      <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fgbw0pznbuj31kw0z34qr.jpg" alt="Second slide">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fgbw388d5qj31kw11ze82.jpg" alt="Third slide">
        <div class="carousel-caption"></div>
      </a>
    </div>
  </div>

 <a class="carousel-control left" href="#myCarousel" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
 </a>
 <a class="carousel-control right" href="#myCarousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
 </a>
</div>





<div class="landing-page">
  <div class="wrapper background-blue">
    <div class="header header-filter">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="title">我们只为你推荐必要的</h1>
            <h3 class="slogan">让我们为你挑选最有品质、最实用的物品.</h3>
            <br/>
            <%= link_to products_path, class: "btn btn-danger btn-lg btn-round btn-raised" do %>
              <%= fa_icon("play", text: "浏览商品") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="main main-raised">
      <div class="section text-center section-head">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title">不仅「想要」，更需「必要」</h2>
            <h5 class="description">“断舍离”的生活理念风靡全球，
              <br>它帮助人们剔除生活中不必要的物品，
              <br>让生活回归简单，“买手网”致力于做你极简生活
              <br>道路上的过滤器，为你提供「必要」的物品.
              <br>
            </h5>
          </div>
        </div>
      </div>

      <!--===== 服务优势 =====-->
  <section class="service-box   text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>好物推荐</h2> <!-- 副标题 -->
        <div class="short-line"></div> <!-- 分隔线 -->
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <img src="http://oqym24k6p.bkt.clouddn.com/xiaoyi/2017-06-03-IMG_4752.JPG" class="img-responsive margin" style="width:100%" alt="Image">
              <h3>匠人手作<br>温润细腻</h3> <!-- 标题 -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <img src="http://oqym24k6p.bkt.clouddn.com/xiaoyi/2017-06-03-IMG_4751.JPG" class="img-responsive margin" style="width:100%" alt="Image">
              <h3>百年老树<br>普洱茶饼</h3>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="box">
              <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fgbq5k958wj31kw11xx6p.jpg" class="img-responsive margin" style="width:100%" alt="Image">
              <h3>四遍摇清<br>“神火”焙火</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="testimonial" class="talk-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
        <h2 class="section-title">用户反馈</h2>
        <div class="short-line"></div>
          <div id="talk-about-us" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
              <li data-target="#talk-about-us" data-slide-to="1" class=""></li>
              <li data-target="#talk-about-us" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <p><span class="thick">环保之路</span>助我在职业瓶颈期顺利实现了职业升级之路。</p>
                <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff57e6mt4zj306y06yq4m.jpg" alt="User 1" />
                <strong>Jack  净宇环保总工程师</strong>
              </div>
              <div class="item">
                <p><span class="thick">环保之路</span>提供的大量优质企业资源和专业简历模板，让我在五年前顺利找到了心仪的工作。</p>
                <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff57fbukwzj306y06y40q.jpg" alt="User 2" />
                <strong>Anny  绿源环保水处理工程师 </strong>
              </div>
              <div class="item">
                <p><span class="thick">专业分享论坛</span>上集聚了大批优秀人才，我们在这里找到的专业骨干，助我公司连续三年跨越式发展。</p>
                <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff57fgui5aj306y06y760.jpg" alt="User 3" />
                <strong>Wilion  鸿景环保董事长兼总经理 </strong>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

        <div class="section section-bottom">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-center">让我们为您甄选</h2>
              <h4 class="description text-center">我要的，才是必要的</h4>
              <div class="row">
                <div class="text-center" >
                  <%= link_to products_path, class: "btn btn-danger btn-round" do %>
                  立即购买
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
