/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import url( 'https://fonts.googleapis.com/css?family=Oswald');



/* login/sign-up */

.facepanel {
      background-image: image_url("header.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;

.login-page, .sign-up-page {
  margin-top: 120px;
  margin-bottom: 80px;
  span {
    display: inline-block;
    margin-right: 15px;
  }
  form {
    max-width: 480px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #9daaaf, 0 0 8px #c1c5c1;
    h2 {
      margin-bottom: 30px;
    }
    .form-control {
      position: relative;
  	  font-size: 16px;
  	  height: auto;
  	  padding: 10px;
      transition: 1s;
  		@include box-sizing(border-box);
      &:focus {
        box-shadow: 1px 1px #fff;
        border-color: #red;
  		  z-index: 2;
  		}
    }
  }

 }
}


/*  确认有效--搜索框 */
.products-search-form {
  //调搜索框大小和位置
  margin-top: 9px;
  padding-left: 20px;
  width: 290px;

  .search-bar {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    padding-right: 40px;

    .search-bar-input {
      min-width: 300px;
      transition: 0.35s;
    }
  }
}

/*===== 有效果，暂时不删除 ======*/

@import url('https://fonts.googleapis.com/css?family=Oswald');


/*===== Fonts =====*/
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
// @import url(https://fonts.googleapis.com/css?family=Lobster);
// @import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);
@import url(https://fonts.googleapis.com/css?family=Acme);


/* login/sign-up */
.facepanel {
      background-image: image_url("header.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;

.login-page, .sign-up-page {
  margin-top: 120px;
  margin-bottom: 80px;
  span {
    display: inline-block;
    margin-right: 15px;
  }
  form {
    max-width: 480px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #9daaaf, 0 0 8px #c1c5c1;
    h2 {
      margin-bottom: 30px;
    }
    .form-control {
      position: relative;
  	  font-size: 16px;
  	  height: auto;
  	  padding: 10px;
      transition: 1s;
  		@include box-sizing(border-box);
      &:focus {
        box-shadow: 1px 1px #fff;
        border-color: #red;
  		  z-index: 2;
  		}
    }
  }

 }
}

/*===== 網站通用設置 ======*/

body {
  overflow-x: hidden; //裁切內容，超出視窗不顯示
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;

  a {
    text-decoration: none !important;
  }

}



/*===== 确认有效--Navbar 导览列 ======*/
.navbar.navbar-default {
  background: #081623;
  color: #000 !important;

  a:active,
  a:focus,
  a:hover {
    color: #eb5424 !important;
  }
}



/*===== 确认工作正常--Footer 页脚 ======*/
.footer {
  text-align: center;
  height: 160px;
  background-color: #1F55A2  ;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;

  h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  li {
    margin-top: 5px;
  }

  a {
    text-decoration: none;
    color: #ccc;
  }

  a:hover,
  a:active,
  a:focus {
    color: #eb5424;
  }

  img {
    display: inline-block;
    margin-top: -6px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff; /* Logo 外框 */
    border-radius: 25px; /* Logo 切成圓形 */
  }

  p {
    a {
      color: #ddd;
    }
    a:hover {
      color: #eb5424;
    }
  }

  .footer-box {
    text-align: left !important;
    margin-top: 15px;
  }

  .footer-content {
    font-size: 16px;
    font-family: Raleway;
    color: #ddd;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 200;

    img {
      width: 25px;
      margin-left: 7.5px;
      margin-right: -0.1px;
    }

    img:hover {
      opacity: 1;
    }
  }
}

/*===== 首页通用设置 =====*/
.welcome-box {
  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .short-line {
    background: #eb5424;
    margin: 15px auto 35px auto;
    width: 125px;
    height: 2px;
  }

  /*===== Button 按钮 =====*/
  .btn-push {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    padding: 10px 20px;
    font-size: 20px;
  }

  .btn-intro {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    padding: 10px 20px;
    font-size: 20px;
  }

  .btn-push:hover,
  .btn-intro:hover {
    background-color: rgba(235, 84, 36, 0.5);
    border-color: #eb5424;
    color: rgba(255, 255, 255, 0.9);
  }

  .btn-push,
  .btn-intro {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .goTop {
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 80%;
    right: 35px;
    // display: none;
    box-shadow: 1px 1px 3px #666;

    span {
      color: #000;
      position: absolute;
      top: 7px;
      left: 8px;
      font-size: 20px;
    }
  }

  .goTop:hover {
    background-color: #f0f0f0;

    span{
      color: #eb5424;
    }
  }
}

/*===== Intro 首页-网站介绍 =====*/
.intro-box {

  /*===== 轮播内容 =====*/
  .item {
    h3 {
      color: #fff;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 5px;
      margin-top: -35%;
      text-shadow: 1px 1px 3px #333;
    }

    p {
      color: #f8f8f8;
      font-size: 22px;
      font-style: italic;
    }

    img {
      width: 100%;
    }
  }

  /*===== 换页按钮 =====*/
  .carousel-control {
    span {
      margin-top: 145%;
      font-size: 50px;
    }
  }
}

/*===== Story 首页-品牌故事 =====*/
.story-box {
  text-align: center;
  padding: 25px 62.5px 50px 62.5px;
  background-color: #F2F3F4 ;
  h2 {
    color: #000000;

  }

  h3 {
    font-size: 20px;
    text-align: left;
    color: #34495E;
  }

  p {
    color: #000000;
    line-height: 30px;
    text-align: justify;
  }

  img {
    height:200px;
    width: 200px;
    border-radius: 25%;
  }

  hr {
    height: 1.5px;
    background-color: #999;
  }
}

/*===== Categories 首页-商品分类 =====*/
.categories-box {
  background-color: #F5F5F5;
  text-align: center;

  a {
    text-decoration:none;
    color: #002E2E;
  }

  img {
    width: 260px;
  }

  /*有用===== Content 分类內容 =====*/
  .category-content {
    padding: 50px 0 0 0;

    border-right: 2.5px dashed #ccc;
    /*===== Box 分类图片 =====*/
    h3 {
      padding: 20px 0 20px 0;
      font-weight: 700;
      font-size: 18px;
    }

    p {
      text-align: justify;
      letter-spacing: 1.5px;
      padding: 0 62.5px 50px 62.5px;
      color: #666;
      line-height: 26px;

    }
  }
}
