/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url( 'https://fonts.googleapis.com/css?family=Oswald');


/*  确认有效--搜索框 */
.products-search-form {
  //调搜索框大小和位置
  margin-top: 9px;
  padding-left: 20px;
  width: 290px;

  .search-bar {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    padding-right: 40px;

    .search-bar-input {
      min-width: 300px;
      transition: 0.35s;
    }
  }
}



/*===== 有效果，暂时不删除 ======*/
body {
  overflow-x: hidden; //裁切內容，超出視窗不顯示
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;

  a {
    text-decoration: none !important;
  }

}



/*===== 确认有效--Navbar 导览列 ======*/
.navbar.navbar-default {
  background: #081623;
  color: #000 !important;

  a:active,
  a:focus,
  a:hover {
    color: #eb5424 !important;
  }
}



/*===== 确认工作正常--Footer 页脚 ======*/
.footer {
  text-align: center;
  min-height: 200px;
  background-color: #02061A;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;

  h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  li {
    margin-top: 5px;
  }

  a {
    text-decoration: none;
    color: #ccc;
  }
}

/*===== Brands 首页-合作伙伴 =====*/
.brand-box {
  background-color: #F5F5F5;
  text-align: center;
  padding: 50px 0;

  img {
    margin: 25px 15px 35px;
    width: 150px;
  }
}
